In [14]:
import pymysql as MySQLdb

db = MySQLdb.connect(host="localhost",    # your host, usually localhost
                     user="root",         # your username
                     passwd="Ofwgktap.1",  # your password
                     db="sys")        # name of the data base

# you must create a Cursor object. It will let
#  you execute all the queries you need
cur = db.cursor()

# Use all the SQL you like
cur.execute("select * from test_db.sample1;")

# print all the first cell of all the rows
for row in cur.fetchall():
    print (row[0])

db.close()

987636553

In [ ]:
#Create Table
create_q="""
        CREATE TABLE test_db.sample1( hi integer )"""
insert_q="""
        INSERT INTO test_db.sample1 (hi) VALUES ('0987636553');  
        """